.main {
  /* padding-top: 240px; */
}

.categoriesSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--clr-bg);
}

.categoriesCntnr {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 0 2%;
}

.categoriesCntnr a {
  text-decoration: none;
  color: var(--clr-primary);
  padding: 10% 0;
  /* padding: 10%; */
  white-space: nowrap;
}

@media screen and (max-width: 800px) {
  .categoriesSection {
    display: block;
    text-align: center;
  }
  .categoriesCntnr {
    display: inline-block;
    height: 20px;
  }
}

@media screen and (max-width: 470px) {
  .categoriesSection {
    display: none;
  }
}
