.header {
  background-color: var(--clr-bg);
  /* position: fixed; */
  width: 100%;
  padding: 10px 0 5px 0;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin: 0 5%;
}

.logo-text {
  font-size: 40px;
}

.nav-link {
  text-decoration: none;
  color: var(--clr-primary);
  margin: 0 10%;
  font-size: 9px;
  font-weight: 200;
  text-transform: uppercase;
  width: max-content;
}
.nav-text {
  font-size: 13px;
}

.icon {
  width: 20px;
}

.nav-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 15px;
  white-space: nowrap;
}

@media screen and (max-width: 850px) {
  .nav-section {
    display: block;
    padding: 10px 0;
  }
  .nav-links {
    display: block;
  }
  .header {
    padding: 2px 0;
  }
}

@media screen and (max-width: 470px) {
  .nav-section {
    display: none;
  }
}
